/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
.d-block{
    height: 500px;
    width: 1300px;
}
.card {
    width: 18rem;
    margin-top: 15px;
    margin-left: 30px;
}
.card-father {
    display: flex;
}
.card-img-top {

height: 250px;
width: 286px;
}

.logo{
width: 75px;
height: 75px;
}
.img-register{
    width: 400px;
    height: 400px;
}